html, body
{
	margin: 0px;
	padding: 0px;
}

#formDiv
{
	width: 60%;
	margin: auto;
	/*background-color: green;*/
}

#formDiv #symbol
{
	width: 525px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
}

#spanDiv
{
	/*background-color: red;*/
	padding: 10px;
	width: 55%;
	margin: auto;
}

#spanDiv tr
{
	text-align: center;
	font-size: 20px;
}

a {
	color: blue;
}

.info {
	width: 60%;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
}
